.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 4%
  &-2
    animation: rotation 5s ease-in-out infinite alternate
    position: absolute
    top: 64%
    left: -7%
    width: 14%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes rotation
  0%
    transform: rotate(0deg)
    opacity: 0
  50%
    transform: rotate(180deg)
    opacity: 1
  100%
    transform: rotate(359deg)
    opacity: 0
.banner-principal
  .container.tarjeta
    background-image: url("../assets/curso/portada/fondo-banner-principal.png")
    background-size: cover
    background-position: center
    @media (max-width: $bp-max-md)
      background-image: url("../assets/curso/portada/fondo-banner-principal-md.png")
    @media (max-width: $bp-max-xs)
      background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png")
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner.png") !important
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.BG01
  background-image: url("../assets/curso/temas/BG01.png")
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -0.7rem !important
.BG04
  background-image: url("../assets/curso/temas/BG04.png")
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important
.tarjeta--BG05
  background-image: url("../assets/curso/temas/BG05.png")
  background-size: cover
  background-repeat: no-repeat
  min-height: 400px
.tarjeta--BG06
  background-image: url("../assets/curso/temas/BG06.png")
  background-size: cover
  background-repeat: no-repeat
.tarjeta--BG07
  background: #FFF0C5
.BG08
  background-image: url("../assets/curso/temas/BG08.png")
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3rem !important
  @media (max-width: $bp-max-sm)
    margin-inline: -1.5rem !important
.tarjeta--BG09
  background-image: url("../assets/curso/temas/BG09.png")
  background-size: cover
  background-repeat: no-repeat
//- Modulo tarjetas
.tarjeta--tabla
  background-color: #FFF0EE
  &:nth-child(even)
    background-color: #FFF0C5
.tarjeta--C01
  background-color: #FFF0EE
.tarjeta--C02
  background-color: #FFF0C5
//- Modulo cajones
.cajon.C01
  background-color: #FFF0EE 
.cajon.C02
  background-color: #F69A8B
.cajon.C03
  background-color: #FFF0C5
//- Modulo slyders
.tarjeta--slyder  
  height: 100%
  background-color: white
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  text-align: center
.custom
  .horizontal-scroll__wrapper
    padding: 2rem 0.5rem
.custom
  .horizontal-scroll
    align-items: stretch !important
.slyder-b__btn--sigt, .slyder-a__btn--atrs, .slyder__btn:hover
  background-color: #A40F1E
  color: #FFFF
  border: none
  opacity: 100
  background-image: url(../assets/curso/temas/chevron-right2.png)
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #5001AA
  color: #FFFF
  border: none
  opacity: 100
  background-image: url(../assets/curso/temas/chevron-right2.png)
.slyder-a__bullets__item
  background-color: #07C3F3
  border: none
.slyder-a__bullets__item--active
  background-color: #5001AA
  border: none
//- Modulo listas 
.lista-ul li, ol.lista-ol li, .lista-ul--color li, .ol.lista-ol--cuadro li, .lista-ol--cuadro li, .lista-ul--separador li
  display: flex
.lista-ol--cuadro__vineta
  background-color: #1E2AD5
//- Modulo crd x4
.img90
  width: 90px 
.img50
  width: 50px
.img100
  width: 100px
.img130
  width: 130px
.img150
  width: 150px
.img180
  width: 180px
.img200
  width: 200px
.img250
  width: 250px
.img280
  width: 280px
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2.4rem
    height: 100%
    background-image: url('../assets/curso/temas/BG02.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 100%
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)  
      background-image: url('../assets/curso/temas/BG03.png')
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      .bottomCircle
        &::before
          background-color: #EEBC32
  &.crd--blue
    background-color: #B1DBEA
  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px
.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 100px
    height: 100px
    background-color: #5001AA
    border-radius: 999px
//- Modulo tablas
.table
  width: 100%
  table-layout: fixed
  border-collapse: collapse
thead
  tr
    th
      background-color: #CFF5FF
//Modulo lineas de tiempo
.linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, 
  background-color: #5001AA
  border: none
  color: #fff
.linea-tiempo-d.color-acento-botones.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content
      background-color: #FFF0C5 !important 
    .tarjeta.tarjeta--gris
      background-color: #5001AA
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #CFF5FF
.tarjeta.tarjeta--gris
  background-color: #5001AA
.linea-tiempo-d__item__number
  span
    color: #ffffff
//- tarjetas cambio de color HOVER
.bg
  &-c1
    background-color: #FFEFDB
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    transition: all 0.5s ease
    height: 240px
    @media screen and (max-width: $bp-max-xl)
      p.text-desc
        font-size: 0.9em
    @media screen and (max-width: $bp-max-lg)
      height: 310px
      p.text-desc
        font-size: 0.9em
    @media screen and (max-width: $bp-max-md)
      height: auto
      p.text-desc
        font-size: 0.9em
// Modulo versión escritorio/movil para figuras
@media (min-width: 992px)
  .desktop 
    display: inline
  .movil 
    display: none
@media (max-width: 991px)
  .movil 
    display: inline
  .desktop 
    display: none
//- modulo titulos adicionales
.titulo01
  position: relative
  left: -2%
  background-color: #FCDF8E
  border-radius: 20px
  h3
    color: black
  @media screen and ( max-width: $bp-max-lg )
    left: -3%
  @media screen and ( max-width: $bp-max-sm )
    left: -4%